# To ignor files in npm package
*.log
/.*/
/.eslint*
/.gitignore
/.npmignore
/.babelrc
/docs/
/examples/
/example/
/example_components/
/example_app/
/test/
/src
# ignore all stories within src/ with .tsx extension in the npm package
/src/**/*.stories.tsx
# ignore all stories within src/ with .mdx extension in the npm package
/src/**/*.stories.mdx
/stories
!dist/*